@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --bg: #01080E;
    --main: #0B0D20;
    --notmain: #212333;
    --notable: #2BDEFD;
    --txt: #D7F9FF; 
}


body{
    background-color: var(--bg);
    color: var(--txt);
    font-family: 'Comic Neue', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.boxmain{
    background-color: var(--main);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1, .boxquest, .boxresul{
    font-family: 'Intel', sans-serif;
}

h1{
    color: var(--notable);
}

button {
    background-color: var(--main);
    color: var(--notable);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: var(--notable);
    color: var(--notmain);
}

.boxresul{
    display: none;
}
.boxresul.show{
    display: block;
}

.boxansw{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
